@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Camingo";
  src: url("../src/assets/fonts/CamingoWeb.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url("../src/assets/fonts/Oswald-Regular.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

:root {
  --font-family-base: "Camingo", Arial, Helvetica, sans-serif;
  --font-family-title: "Oswald", Arial, Helvetica, sans-serif;
  --lineheight-ally-rule: 32px;
  --color-primary-hsl: 0deg 100% 47.5%;
  --color-background-hsl: 0deg 100% 100%;
  --color-primary: hsl(var(--color-primary-hsl));
  --color-background: hsl(var(--color-background-hsl));
  --color-negative: hsl(0deg 65% 50%);
  --color-positive: hsl(120deg 65% 50%);
  --shadow-default: 0 5px 10px -5px hsl(0deg 0% 0% / 0.25);
}

* {
  font-family: var(--font-family-base);
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

a,
button.link {
  color: var(--color-primary);
  text-decoration: underline;
  cursor: pointer;
}

code {
  background: var(--color-background);
  padding: 2px 4px;
  border-radius: 6px;
}

/**
 * A11y-rules.
 *
 * (Note that the related CSS-classes are set by JS from `a11y-manager.js` therefore the CSS
 *   for it is defined globally in here)
 **/
*:has(> .--a11yRuleLinked)::after {
  content: " ";
  margin: 0 0.5em;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: var(--lineheight-ally-rule);
  height: var(--lineheight-ally-rule);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: hsl(0deg 0% 0% / 0.1);
}
*:has(> .--a11yRuleLinked.--a11yFailed)::after {
  content: "👎";
  background-color: var(--color-negative);
}
*:has(> .--a11yRuleLinked.--a11ySuccess)::after {
  content: "👍";
  background-color: var(--color-positive);
}
