@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Camingo';
  src: url('../src/assets/fonts/CamingoWeb.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('../src/assets/fonts/Oswald-Regular.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

* {
  font-family: 'Camingo', arial, helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Oswald', Arial, Helvetica, sans-serif;
 color: red;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

